.App {
  font-family: monospace;
}

.peru {
  background-color: peru;
}

.green {
  background-color: green;
}

.red {
  background-color: red;
}

div {
  padding: 20px;
  margin: 20px;
  border-radius: 5px;
}

.active {
  background-color: lightgoldenrodyellow;
}

.nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  list-style: none;
}

.route {
  text-align: center;
}

.button-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

img {
  height: 200px;
  width: 200px;
}
